{{#partial "content"}}

    <h1>Success!</h1>

    Your Squad details has been saved.<br>
    <form action = "/receivedsquad">
        <button class="btn btn-dark text-light">Check your new squad</button>

    </form>

{{/partial}}

{{> layout.hbs}}