body{
background-image: url("/images/serge.jpg");
background-size: cover;
color:white;
font-family: 'Tangerine', serif;
        font-size: 25px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #3C3C3C;
  padding: 20px;
  border: 2px solid white;
}