{{#partial "content"}}

    <h1>Success!</h1>

    Your Hero details has been saved.<br>
    <form action = "/receivedheroes">
        <button class="btn btn-dark text-light">Check your new Heroes</button>

    </form>

{{/partial}}

{{> layout.hbs}}