{{#partial "content"}}

    <h1>Welcome to the Hero Squad App</h1>
    <form action ="/squads/new" >
        <button class="btn btn-primary text-light">Add a new Squad</button>

    </form>

{{/partial}}

{{> layout.hbs}}