{{#partial "content"}}

    <h1>Fill in your squad details!</h1>
    <form action="/squads/new" method="post">

        <div class="form-group">
            <label for="name">Enter your squad name</label>
            <input id="squadName" name="squadName" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="cause">Enter the purpose of your squad</label>
            <input id="cause" name="cause" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="size">Enter capacity of your squad</label>
            <input id="size" name="size" class="form-control" type="number">
        </div>
        <button type="submit" class="btn btn-success text-light p-5">Go!</button>
    </form>
{{/partial}}

{{> layout.hbs}}